@font-face {
    font-family: otf_mazda;
    src: url('fonts/OTF_MazdaType-Medium.otf');
}
body, html{
    margin: 0;
    padding: 0;
    /*    background-image: url('img/background.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-color: #000!important;
    color: #fff;
}
.fondo{
    background-image: url('img/background.jpg?v=1.1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -35px;
    /*background-position: 25%;*/
    /*
    */
}

.row{
    margin: 0!important;
}

.has-error .help-block{
    color: #fff!important;
}
.error{
    border: solid 3px #ea1720;
}

/*==================================================
    MENU PRINCIPAL
==================================================*/
.preHeader{
    background: #000000;
    color: #fff;
    padding: 18px;
    margin: 0;
    border-bottom: 3px white solid;
    text-align: center;
    font-family: "otf_mazda";
    font-size: 18px;
}
.preHeader p{
    padding: 0;
    margin: 0 0 0 5%;
}
.preHeader img{
    max-width: 100%;
}
.headerTopBorder{
    position: relative;
    width: 100%;
    background: #000000 ;
    z-index: 999;
    margin: 0;
}

.triangulo_inf {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 63px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
}

.title{
    background: #fafafa;
    padding: 10px;
    margin: 0;
    border-bottom: 5px solid #000000;
    text-align: right;
}
.title h1{
    padding: 0;
    margin: 0 0 0 5%;
}
.garantia{
    margin-top: -40px;
    margin-right: 5%;
    display: inline !important;
    float: right;
}
.ivesa{
    margin: auto;
    display: block!important;
}
.letras{
    padding-top: 0;
}
.letras img{
    max-width: 100%;
}
.slider{
    position: relative;
}
.item {
    background-position: right!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.contactform {
    margin: 20px auto;
    padding: 15px;
    background: url("img/fondo_campos.png");/*rgba(0, 0, 0, 0.25);*/
    background-size: cover;
    max-width: 550px;
}
.contactform h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}

.contactform .title{
    color: black;
    margin-top: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: left;
}

.contactform input, .contactform textarea, .contactform select{
    color: black;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0 5px 0;
    font-size: 1.1em;
    border: solid 3px #fff;
}
.contactform select{
    color: #858585;
}
.contactform textarea{
    height: 38px;
}
#sendForm{
    margin: auto;
    color: white;
    padding: 5px 10px;
    font-size: 1.4em;
    background: #ea1720;
    border: none;
}

#resultOk {
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    color: #fff;
    display: none;
    background: #000000;
}

.homeCarousel{
    margin-top: 25px;
    margin-bottom: 100px;
}

footer{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    /*background: rgb(255,255,255);*/
    /*background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(0,0,0,1) 30%);*/
    /*padding: 5px;*/
    font-size: 1.1em;
}
footer a{
    color: white;
}

footer small{
    font-size: 0.8em;
}

.owl-dots {
    position: absolute;
    left: 50%;
    bottom: -8%;
    transform: translate(-50%, 0);
}
.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid #cfcbca;
    background: transparent;
    margin-right: 5px;
    display: inline-block;
}
.owl-dot.active {
    background: #cfcbca;
}

.owl-carousel .owl-item img {
    display: block;
    max-width: 550px!important;
    -webkit-transform-style: preserve-3d;
    margin: auto;
}

.salto{
    padding: 55px;
    width: 100%
}

#mazda-cx-9{
    padding-top: 50px;
}

.visible-360{
    display: none!important;
}


.help-block{
    margin: 0!important;
    padding: 0!important;
    font-size: 11px;
}

.img-footer{
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Small Devices, Tablets */
/*@media only screen and (max-width : 1300px) {
    body{
        min-height: 112vh;
    }
}*/

@media only screen and (max-width : 1300px) {
    .owl-carousel .owl-item img {
        max-width: 450px!important;
    }
    .contactform {
        max-width: 450px;
    }
}
@media only screen and (max-width : 768px) {
    .preHeader{
        padding: 10px
    }
    .preHeader p{
        font-size: 8px;
    }
    .triangulo_inf{
        top: 44px;
    }
    .title h1{
        margin-left: 0px !important;
    }
    .garantia{
        margin-top: -40px!important;
        margin: auto;
        display: block!important;
    }
    .sliderContent{
        background-size: cover;
        background-position: right top;
    }
    .letras{
        padding: 5%;
        bottom: 15%;
    }
    .item1 {
        background-position: right!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
    }
    .homeCarousel{
        margin-bottom: 10%;
    }
}

.leftContainer{
    position: relative;
    text-align: center;
    min-height: 85vh!important;
}

.logoLeftCenter{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mazdaLogoCenter {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 110px;
}

.mazdaMotorCenter {
    position: absolute;
    right: 20%;
    top: 3%;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.cotiza_aqui {
    position: fixed;
    left: 30px;
    bottom: 100px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .triangulo_inf{
        top: 42px;
    }

    footer{
        position: relative!important;
    }

    .leftContainer{
        position: relative;
        text-align: center;
        min-height: 15vh!important;
    }

    .logoLeftCenter{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -20%);
    }

    .mazdaLogoCenter {
        position: absolute;
        left: 0;
        top: 0;
    }

    .mazdaMotorCenter {
        position: absolute;
        right: 0;
        top: 0;
    }

    .cotiza_aqui{
        display: none;
    }

}
