

body, html{
    margin: 0;
    padding: 0;
}

/*==================================================
    MENU PRINCIPAL
==================================================*/
.preHeader{
    background: #0088cc;
    color: #fff;
    padding: 20px;
    margin: 0px;
}
.preHeader p{
    padding: 0px;
    margin: 0 0 0 5%;
}
.headerTopBorder{
    position: relative;
    width: 100%;
    background: #0088cc ;
    z-index: 999;
    margin: 0;
}

.triangulo_inf {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 60px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #0088cc;
}

.title{
    background: #fafafa;
    padding: 10px;
    margin: 0px;
    border-bottom: 5px solid #0088cc; 
    text-align: right;
}
.title h1{
    padding: 0px;
    margin: 0 0 0 5%;
}
.garantia{
    margin-top: -80px;
    margin-right: 5%;
    display: inline !important;
    /*float: right;
    position: relative;*/
}
.ivesa{
        margin-top: 0px;
        margin: auto;
        display: block!important;
    }
.letras{
    /*position: absolute;
    padding-left: 5%;
    z-index: 99;
    bottom: 10%;
    */
}
.letras img{
    max-width: 100%;
}
/*.info{
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);
    /*margin: 150px 0 0 0;*/
    /*transform: translate(-50%, -50%);*/
    
/*}*/
.slider{
    position: relative; 
    /*margin: 150px 0px 0px 0px;*/
}
.item{
    /*height: 70vh; Anterior*/
    /*height: 80vh;
    width: 100%;*/
    /*height: 100vh;
    width: 100vh;*/
    background-position: right!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

/*.item img{
    min-height: 30vh;
}*/

/*.contentForm{
    padding: 5% 15%;
}*/

.contactform h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}

.contactform .title{
    color: black;
    margin-top: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: left;
}

.contactform input, .contactform textarea{
    color: black;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0 5px 0;
    font-size: 1.3em;
    border: solid 1px #d7d7d7;
}
.contactform textarea{
    height: 38px;
}
#sendForm{
    margin: auto;
    color: white;
    /*width: 200px;*/
    padding: 5px 10px;
    font-size: 1.4em;
    background: #ea1720;
    border: none;
}

#resultOk {
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    color: green;
    display: none;
}

footer{
    /*color: white;
    font-size: 11px;*/
    background: #fafafa;
    padding: 20px;
    border-top: 5px solid #0088cc;
}

.owl-dots {
    position: absolute;
    bottom: 5%;
}
.owl-dots {
    right: 4%;
}
.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid #cfcbca;
    background: transparent;
    margin-right: 5px;
    display: inline-block;
}
.owl-dot.active {
    background: #cfcbca;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .preHeader{
        padding: 10px
    }
    .preHeader p{
        font-size: 8px;    
    }
    .triangulo_inf{
        top: 28px;
    }
    .title h1{
        margin-left: 0px;
    }
    .title h1 img{
        margin: auto;
    }
    .garantia{
        margin-top: 0px;
        margin: auto;
        display: block!important;
    }
    /*.info{
        position: relative;
        margin: 0;
        left: auto;
        top: auto;
        transform: none;
        /*transform: translate(-50%, -50%);*/
    /*}*/
    .slider{
        /*margin: 40% 0px 0px 0px;*/
    }
    .sliderContent{
        /*height: 80vh;
        background: #fff;*/
    }
    .sliderContent{
        /*background-image: url("img/mazda-slider-1.jpg");*/
        background-size: cover;
        background-position: right top;
    }
    .letras{
        padding: 5%;
        bottom: 15%;
        background: rgba(255, 255, 255, 0.70);
    }
    .item1{
        /*height: 500px; Anterior*/
        /*height: 450px;
        width: 100%;*/
        background-position: right!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
    }
    /*
    .item:before{
        padding-left: 200%;
    }*/
    .item img{
        /*min-height: 100%;*/
    }
/*    .contentForm{
        padding: 5% 5%;
    }*/
}

@media only screen and (max-width : 640px) {
    .item1{
        /*height: 400px;*/
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .triangulo_inf{
        top: 28px;
    }
    .item1{
        /*height: 300px; Anterior*/
        /*height: 250px;*/
    }
}
@media only screen and (max-width : 360px) {
    .item1{
        /*height: 250px;*/
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .slider{
        /*margin: 230px 0px 0px 0px;*/
    }
    .letras img{
        max-width: 80%;
    }
    .item1{
        /*height: 200px;*/
    }
}