

.header{
    padding: 20px;
}

img{
    max-width: 100%;
}
form {
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


.control-label, .help-block{
    color: white!important;
}

.resultOk{
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 10% 2%;
    display: none;
}

.copy {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #012c46;
    padding: 15px;
    margin-top: 25px;
}

.subtitulo-form {
    font-style: oblique;
    font-size: 28px;
    color: #190b58;
    padding-bottom: 15px;
    text-align: right;
    padding-right: 6px;

}

.titulo-form {
    font-size: 36px;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.sub-titulo-form {
    font-size: 16px;
    color: #ffffff;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
}

.logo-footer {
    padding-right: 20px;
    float: right;

}

.logotipos_header {
    padding: 25px;
    height: 115px;
}

hr {
    padding-bottom: 20px;
    height: 2px;
    color: #5e2f15;
}

.btn-primary {
    color: #fff;
    background-color: #f90000;
    border-color: #f90000;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #f0800c;
    border-color: #f0800c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f0800c;
    border-color: #f0800c;
}

.btn-primary:active, .btn-primary.active{
    color: #fff;
    background-color: #5e2f15;
    border-color: #5e2f15;
}

label {
    margin-bottom: 0px !important;
}

.contenido {
    margin-top: 0px;
}

.logotipo {

    float: left;
    position: absolute;
    z-index: 10000;
}

.logotipos {
    float: right;
    margin-top: 20px;
}

.logotipo_abajo {
    display: none;
}

.form-control_ {

    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group {
    margin-bottom: 10px !important;
}

.telefonos_movil {
    margin-bottom: 10px;
    display: none;

}

.redes_sociales {
    float: right;
    margin-top: 25px;

}

.item {
    background: black !important;
}

.item img {
    width: 100%;
    margin: auto !important;
}

.autocom {
    float: right;
    margin-right: 12%;
    margin-bottom: 15px;
}

.textCentral{
    font-family: Arial;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .logotipo {
        padding-bottom: 10px;
    }

    .footer-prensa {
        padding-top: 10px;
    }

    hr {
        padding-bottom: 5px;

    }

    .titulo-form {
        text-align: center;
        margin-top: 25px;

    }

    .subtitulo-form {
        text-align: center;
        padding-right: 0px;
    }

    .copy {
        margin-top: 5px;
    }

    .titulo-form {
        font-size: 30px;
    }

    .redes_sociales {
        float: none;
        text-align: center;
    }

    .autocom {
        margin-right: 39%;
    }

}

@media screen and (max-width: 580px) {

    .logotipos {
        text-align: center;
    }

    .logotipos_header {
        text-align: -webkit-center;
    }

    .logotipo_abajo {
        text-align: -webkit-center;
        display: block;
        background-color: #fff;
    }
    .slider{
        margin: 5% 0 0 0; 
    }

}

@media screen and (max-width: 480px) {
    .logotipo {
        width: 65%;
    }

    .logotipos {
        width: 20%;
    }

    .telefonos {
        display: none;

    }

    .telefonos_movil {
        display: block;
    }

    .autocom {
        margin-right: 32%;
    }

}

@media screen and (max-width: 400px) {
    .logotipo {
        width: 50%;
    }

    .subtitulo-form {
        font-size: 20px;
    }

    .logotipos_header {
        height: 90px;
    }

    .sub-titulo-form {
        font-size: 12px;
    }

}

@media screen and (max-width: 380px) {
    .autocom {
        margin-right: 27%;
    }
}

@media screen and (max-width: 340px) {
    .logotipos_header {
        height: 88px;
    }

    .autocom {
        margin-right: 23%;
    }

}